root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 160
tab_width = 2

[*.java]
ij_java_insert_inner_class_imports = false
ij_java_ternary_operation_signs_on_next_line = true
ij_javascript_ternary_operation_wrap = normal
ij_java_align_multiline_ternary_operation = false
